body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('metal-texture-with-dust-scratches-cracks-textured-backgrounds.jpg') no-repeat center center fixed;
    background-size: cover;
    perspective: 1000px;
}

#navbar {
    background-color: rgba(255, 255, 255, 0);
    padding: 23px;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #fff;
    text-align: center;
}

#navbar a {
    color: black;
    text-decoration: none;
    margin: 0 85px;
    font-size: 20px;
    font-weight: bolder;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 25px;
}

#navbar a:hover {
    background-color: black;
    color: white;
    font-size: 22px;
}

#app {
    max-width: 800px;
    margin: 60px auto;
    background-color: white;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black

}

h1 {
    color: #333;
    text-align: center;
}

#blog-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea,
button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: #fff;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    font-weight: bolder;
    border-radius: 20px;
    transition: 0.3s;
    border: 2px solid black;

}

button:hover {
    background-color: white;
    color: black;
}

#blogs-list {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.blog {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.file-input {
    margin-top: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    input,
    textarea,
    button {
        width: 100%;
    }
}
